ul{
    list-style-type:none;
    
}
li{
    margin:5px;
    background-color:#fff;
    border-radius:3px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: left;
    color:rgba(0,0,0,0.5);
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
